Project Milestone: Manipulate some randomly generated data in a pandas dataframe. Make sure you know how 
to select a specific column, how to set the dataframe index (and, in particular, how to make it a datetime 
index), and how to select ranges of rows by index.

In [64]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [65]:
# Create dataframe with datetime column and 2 randomly generated
date_today = datetime.now()
days = pd.date_range(date_today, date_today + timedelta(7), freq='D')

np.random.seed(seed=1111)
data = np.random.randint(1, high=150, size=len(days))
data1 = np.random.randint(1, high=150, size=len(days))

df = pd.DataFrame({'Datetime': days, 'A': data, 'B': data1})
print(df)

                    Datetime    A    B
0 2019-01-05 22:57:48.806119   56   87
1 2019-01-06 22:57:48.806119   82  137
2 2019-01-07 22:57:48.806119  141  106
3 2019-01-08 22:57:48.806119   21   62
4 2019-01-09 22:57:48.806119  140   43
5 2019-01-10 22:57:48.806119   15   77
6 2019-01-11 22:57:48.806119    9  133
7 2019-01-12 22:57:48.806119  141   78

In [59]:
# Select a specific column
df['A']

0   2019-01-05 22:53:10.049668
1   2019-01-06 22:53:10.049668
2   2019-01-07 22:53:10.049668
3   2019-01-08 22:53:10.049668
4   2019-01-09 22:53:10.049668
5   2019-01-10 22:53:10.049668
6   2019-01-11 22:53:10.049668
7   2019-01-12 22:53:10.049668
Name: Date, dtype: datetime64[ns]

In [61]:
# Set Datetime as index
df = df.set_index('Date')

In [62]:
df

                             A   B
Date
2019-01-05 22:53:10.049668  29  21
2019-01-06 22:53:10.049668  56  12
2019-01-07 22:53:10.049668  82  15
2019-01-08 22:53:10.049668  13   9
2019-01-09 22:53:10.049668  35  13
2019-01-10 22:53:10.049668  53  87
2019-01-11 22:53:10.049668  25   9
2019-01-12 22:53:10.049668  23  63

In [63]:
# Select rows between 2 datatime indexes
df.loc['2019-01-07 03:00:00':'2019-01-10 23:00:00']

                             A   B
Date
2019-01-07 22:53:10.049668  82  15
2019-01-08 22:53:10.049668  13   9
2019-01-09 22:53:10.049668  35  13
2019-01-10 22:53:10.049668  53  87